
.ul {
    list-style-type: none;
    width: 100%;
    position: static;
    margin: 0;
    overflow: hidden;
    background-color: crimson;
    font-family: Quicksand;
}

.ul li {
    display: block;
    color: white;
    padding: 24px 24px;
    text-decoration: none;
    max-width: 600px;
    float: left;
}

.ul li:last-child {
    float: right;
}