
.gridcontainer {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    grid-template-columns: 400px 400px;
    grid-template-rows: 25% 25% 25% 25%;
    grid-column-gap: 40px;
    grid-row-gap: 10px;
    width: 840px;
    height: 400px;
}

.gridcontainer li{
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    line-height: 100px;
    overflow: hidden;
}

.image {
    display: block;
    grid-row: 1 / span 4;
    grid-column: 1;
    height: 400px;
    width: 400px;
    background-color: black;
    outline: solid black;
}

.rating1 {
    height: 180px;
    grid-column: 2;
    grid-row: 1 / span 2;
    border-radius: 10px;
}

.rating2 {
    height: 180px;
    grid-column: 2;
    grid-row: 3 / span 2;
    border-radius: 10px;
}

.title {
    font-size: 50px;
    height: 50%;
    background-color: crimson;
    color: white;
    
}

.subtitle {
    height: 50%;
    font-size: 50px;
    text-align: center;
    background-color: lightgray;
}

.editbutton {
    float:right;
    width: 50px;
    height: 50px;
    padding: 0 0;
    margin: 25px 10px;
    background-color: inherit;
    border: hidden;
}

.editbutton :hover{
    background-color: lightcoral;
}


.image {
    display: block;
    grid-row: 1 / span 4;
    grid-column: 1;
    height: 400px;
    width: 400px;
    background-color: black;
    outline: solid black;
}


