
.gridcontainer {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    grid-template-columns: 400px 400px 100px;
    grid-template-rows: 180px 180px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    width: 980px;
    height: 400px;
}

.gridcontainer li{
    text-align: center;
    list-style: none;
    line-height: 100px;
}

.image {
    display: block;
    grid-row: 1 / span 2;
    grid-column: 1;
    height: 400px;
    width: 400px;
    background-color: black;
    outline: solid black;
}

.gridcontainer rating1 {
    height: 180px;
    width: 525px;
    grid-column: 2 /span2;
    grid-row: 1;
}

.gridcontainer rating2 {
    height: 200px;
    grid-column: 2 / span 1;
    grid-row: 2;
    border-radius: 10px;
}

.gridcontainer buttonsection {
    grid-row: 2;
    grid-column: 3;
    height:fit-content;
    width: 100px;
    padding: 0 0;
}

.title {
    height: 50%;
    font-size: 40px;
    font-weight: 800;
    background-color: crimson;
    color: white;
}

.subtitle {
    height: 50%;
    font-size: 50px;
    text-align: center;
    background-color: lightgray;
    font-weight:800;
}

.subtitle div{
    display: block;
}

.gridwrapper{
    border-radius: 10px;
}

.updatebutton {
    display: block;
    height: 100px;
    width: 100px;
    padding: 0 0; 
    border: none;
    background-color: lightgray;
}

.updatebutton :hover{
    cursor: pointer;
    background-color: crimson;
}

.image {
    display: block;
    grid-row: 1 / span 2;
    grid-column: 1;
    height: 400px;
    width: 400px;
    background-color: black;
    outline: solid black;
}


