
.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding: 0 0;
    text-align: center;
}

.container l{
    display: block;
    margin: 25px 0px;
}

.container h1 {
    background-color: crimson;
    color: white;
    padding: 20px 0px;
}

.container textarea{
    display: table;
    width: 100%;
    height: fit-content;
    outline: solid black 1px;
    resize: vertical;
    padding: 10px 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: medium;
}

.container div{
    text-align: left;
    margin-top: 50px;
    background-color: lightgray;
}

.container h2{
    background-color: crimson;
    padding: 5px 5px;
    color: white;
    font-style: bold;
    font-size: medium;
}

.container p{
    margin: 0px 0px;
    padding: 10px 10px;
}